extends base

block content
    section.auth
        .container
            form.forgot-password
                label(for="user-email") Enter your email address, and we will send you a link to restore access to your account.
                input#user-email(type='email', required, name='email').email
                input.forgotpassword(type='submit' value='Send email')
