extends base

block content
    link(rel='stylesheet' href='css/style.css')
    section
        form.reset-password
            label(for="password") Please create new password and confirm it.
            input#password.password(type='password' placeholder='Your new password', required, minlength='8')
            input.passwordConfirm(type='password' placeholder='Confirm your password' required, minlength='8')
            input(type='submit' value='Reset password')
