html {
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  cursor: pointer;
}
a:link,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
section {
  padding: 5rem 0;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('Noto Sans'), url('../fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@keyframes showAlert {
  0%,
  100% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}
form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
form p {
  font-size: 1.4rem;
  color: gray;
  text-align: center;
}
form label {
  font-size: 1.4rem;
}
form input {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
  font-size: 1.5rem;
}
form input::placeholder {
  color: #b8b8b8;
}
form input[type='submit'] {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.68), rgba(128, 0, 128, 0.62));
}
.alert {
  position: absolute;
  opacity: 0;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 401;
}
.alert.success {
  background-color: rgba(60, 203, 60, 0.9);
}
.alert.error {
  background-color: #ec4444;
}
.alert.show {
  animation: showAlert linear 4s;
  padding: 1rem 6.5rem;
}
.error-message {
  margin: 0 auto;
  font-size: 1.5rem;
}
.error-message h2,
.error-message p {
  text-align: center;
}
.error-message p {
  margin-top: 1rem;
}
.header {
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(to right, #BB2649, rgba(128, 0, 128, 0.62));
  display: flex;
}
.panel {
  width: 100%;
  margin: auto 2rem auto 2rem;
  display: flex;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.panel a {
  color: white;
}
.panel a:active,
.panel a:link {
  color: white;
}
.access {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.logout img {
  width: 2.6rem;
  margin-top: 0.4rem;
}
.user-img {
  width: 3.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.auth {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  background-image: linear-gradient(to right, #ffffff 35%, rgba(255, 255, 255, 0)), url(../img/app/unsplash.webp);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 1920px) {
  .auth {
    background-image: linear-gradient(to right, #ffffff 45%, rgba(255, 255, 255, 0)), url(../img/app/unsplash.webp);
  }
}
@media (max-height: 1200px) {
  .auth {
    background-size: contain;
  }
}
@media (max-width: 1300px) {
  .auth {
    background-position: top left;
    background-size: cover;
  }
}
.auth .container {
  padding: 7rem 0 0 7rem;
}
@media (max-width: 400px) {
  .auth .container {
    padding: 0;
  }
  .auth .container form {
    margin: 0 auto;
  }
}
section.home {
  font-weight: 400;
  line-height: 1.6;
  height: calc(100vh - 5rem);
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 0;
  display: flex;
}
section.home form input[type='submit'] {
  margin-top: 0;
}
section.home form .user-input {
  width: 19rem;
}
#map {
  flex: 1;
  height: 100%;
}
.title,
.sub-title {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: #5f5d5d;
}
.title {
  font-size: 2rem;
  font-weight: 700;
}
.sub-title {
  margin: 1.3rem 0;
  font-size: 1.4rem;
}
.field-group {
  display: flex;
  justify-content: space-between;
}
.field-group div:last-of-type {
  display: none;
}
.account h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #5f5d5d;
}
.data-settings {
  margin: 4rem auto 0;
  max-width: 80rem;
  display: flex;
  row-gap: 1rem;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .data-settings {
    flex-direction: column;
    align-items: center;
  }
}
.data-settings .field-group {
  display: flex;
  align-items: center;
}
.data-settings .user-img {
  width: 6.5rem;
}
.data-settings input[type="file"] {
  display: none;
}
.data-settings label {
  color: #5f5d5d;
}
.data-settings label[for='user-photo'] {
  cursor: pointer;
  margin-left: 1.5rem;
  text-decoration: underline;
}
.data-settings input[type='submit'] {
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */