section.home{
  font-weight: 400;
  line-height: 1.6;
  height: calc(100vh - 5rem);
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 0;
  display: flex;

  form {
      input[type='submit'] {
        margin-top: 0;
      }
      .user-input{

      }
  }
}

#map {
  flex: 1;
  height: 100%;
}

.title,
.sub-title{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: @color-black;
}

.title{
  font-size: 2rem;
  font-weight: 700;
}
.sub-title{
  margin: 1.3rem 0;
  //margin-top: .5rem;
  font-size: 1.4rem;
}


.leaflet-popup-content{
  margin-right: 20px !important;
}

.popup{
  &-message{
    resize: none;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1.2rem;
    padding: .4rem;

    &::-webkit-scrollbar{
      display: none;
      width: 0;
    }
    &:focus,
    &:active{
      outline: none;
      border: none;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
    }
  }
  &-group{
    display: flex;
    justify-content: space-between;
    div:last-of-type{
      display: none;
    }
  }
  &-time{
    text-align: right;
    font-size: .9rem;
    align-self: self-end;
  }
}
